<section class="container">
  <h2>Design Changes</h2>
  <img src="design_mockup.png" alt="Design Mockup" />
  <p>
    The following changes and improvements are to be made to the "My To-Do List" app:
  </p>
  <ol>
    <li>
      Since the "Title" property comes in from another source, we don't have
      control of the source text values. Style the title so that it always
      displays in title case.
    </li>
    <li>Style the list items to be all UPPERCASE.</li>
    <li>Add a strike-through styled font to any completed task.</li>
    <li>
      Right-align the Delete button and style it using #3f51b5 as the background
      color. Refer to the updated design above.
    </li>
    <li>Style the Sort button to look similar to the design above.</li>
    <li>
      Wire in the Delete button functionality. A method exists, but it's empty.
    </li>
    <li>
      Wire in the Sort button functionality. A method exists, but it's empty.
      We'd like to sort alphabetically from A-Z. Include the completed items
      when sorting.
    </li>
  </ol>
</section>
