html {
  font-size: 16px;
  line-height: 1.25;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 1rem;
}

h1 {
  font-family: Helvetica;
  margin-bottom: 2rem;
}

main {
  border-bottom: 1px solid lightgray;
}

.container {
  margin: 0 auto;
  padding: 0 2rem 2rem;
  width: 100%;
  max-width: 480px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  background-color: #f0f0f0;
}

html body header {
  border-top: 1px solid lightgray;
}

.styled-input {
  position: relative;
}

.styled-input input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  outline: none;
  background: transparent;
}

.styled-input input:focus {
  border-bottom: 2px solid #3f51b5;
}

.styled-input label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  color: #999;
  transition: all 0.2s ease-out;
}

.styled-input input:focus + label,
.styled-input input:not(:placeholder-shown) + label {
  top: -1.25rem;
  font-size: 0.75rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 0.5rem;
    font-family: Courier;
    font-size: 0.75rem;

    > input {
      margin-right: 0.5rem;
    }
  }
}
